/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
   

    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 50px 0;
  }
  
  #hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  .container {
    max-width: 98%;
    margin: 0 auto;
    text-align: center;
  }
  
  .service {
    margin-bottom: 30px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  h2{
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
  }
  #hero{

  }
  h1{
    color: black;
    text-transform: uppercase;
  }
  a{
    margin-top: 50px;
  }
  .was{
    margin-bottom: 100px;
  }
 p#ab{
    left: 0;
    text-align: left;
    width: 550px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90vw;
    height:auto;
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px;
    border-color: #555;
    text-align: center;
    



  }